html, body {
        padding: 100px;
        margin: 0 auto;
        user-select: none;
        background-color: #151515;
        color: white;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    img {
        pointer-events: none;
    }
    h1:focus {
        outline: none;
    }

    a, .btn-link {
        color: #0071c1;
    }

    .game-list {
        max-width: 400px;
        font-family: 'Cascadia Code', sans-serif;
        margin: 0 auto;
        user-select: none;
        background-color: #1b1b1b;
        color: white;
        padding: 0px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .game-item {
        aspect-ratio: 16/9;
        height: auto;
        min-height: 200px;
        max-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: #131313;
        border-radius: 10px;
        border: 0.2px solid #323232;
        padding-left: 15px;
        padding-bottom: 10px;
        margin-top: 10px;
        position: relative;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    .game-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(19,19,19,0.9500175070028011) 16%, rgba(0,212,255,0) 100%);
        border-radius: 9px;
        z-index: 1;
    }

    .game-info {
        font-family: 'Cascadia Code';
        z-index: 2;
        color: white;
        font-size: 1.1em;
        margin-bottom: -15px;
        position: relative;
    }
    
    .add-game-button {
        background-color: #151515;
        color: #fff;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        padding: 12px 24px;
        font-size: 12px;
        display: block;
        margin: 20px auto;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s, transform 0.3s;
    }

    .add-game-button:hover {
        background-color: #555;
        transform: scale(1.05);
    }

    .add-game-button:active{
        transform: scale(0.97);
    }

    .add-game-form {
        font-family: 'Cascadia Code', sans-serif;
        display: block;
        background-color: #131313;
        padding: 20px;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        margin-top: 0px;
        text-align: center;
    }
    .add-game-form input, .add-game-form textarea {
        font-family: 'Cascadia Code', sans-serif;
        width: 97%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        background-color: #151515;
        color: #fff;
        text-align: center;
    }
    .add-game-form button {
        font-family: 'Cascadia Code', sans-serif;
        background-color: #151515;
        color: #fff;
        width: 100px;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    .add-game-form button:hover {
        background-color: #555;
        transform: scale(1.05);
    }

    .add-game-form button:active{
        transform: scale(0.97);
    }

    .button-container {
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 2;
    }

    .game-item .fa-play{
        background-color: #151515;
        color: green;
        height: 32px;
        width: 55px;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s, transform 0.3s;
    }
    .game-item .fa-pencil{
        background-color: #151515;
        color: white;
        height: 32px;
        width: 30px;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s, transform 0.3s;
    }
    .game-item .fa-trash {
        background-color: #151515;
        color: red;
        height: 32px;
        width: 30px;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s, box-shadow 0.3s ease-in-out;
    }
    .game-item .fa-pause:hover,
    .game-item .fa-play:hover,
    .game-item .fa-pencil:hover,
    .game-item .fa-trash:hover {
        transform: scale(1.08);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    }

    .game-item .fa-pause:active,
    .game-item .fa-play:active,
    .game-item .fa-pencil:active,
    .game-item .fa-trash:active {
        transform: scale(0.97);
    }
    
    .custom-file-input {
        font-family: 'Cascadia Code', sans-serif;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }

    .custom-file-input input[type="file"] {
        font-family: 'Cascadia Code', sans-serif;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .custom-file-label {
        font-family: 'Cascadia Code', sans-serif;
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        background-color: #131313;
        text-align: center;
        color: #fff;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        cursor: pointer;
        user-select: none;
        transition: background-color 0.3s, transform 0.3s;
    }

    .custom-file-label:hover {
        background-color: #555;
        transform: scale(1.03);
    }

    .custom-file-label:active{
        transform: scale(0.97);
    }

    .edit-game-form {
        font-family: 'Cascadia Code', sans-serif;
        display: block;
        background-color: #131313;
        padding: 20px;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        margin-top: -25px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .edit-game-form input,
    .edit-game-form textarea {
        font-family: 'Cascadia Code', sans-serif;
        width: 97%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        background-color: #151515;
        color: #d3d3d3;
        text-align: center;
    }
    .edit-game-form label {
        margin-bottom: 10px; 
        display: block;
    }
    
    .edit-game-form button {
        font-family: 'Cascadia Code', sans-serif;
        background-color: #151515;
        color: #fff;
        width: 100px;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        margin: 0 5px;
    }

    .edit-game-form button:hover {
        background-color: #555;
        transform: scale(1.05);
    }

    .edit-game-form button:active{
        transform: scale(0.97);
    }

    .game-item {
        position: relative;
    }

    .button-container {
        display: none;
    }
    .button-container button {
        margin-right: 5px;
    }

 
    .game-item:hover .button-container {
        display: flex;
    }

    .labelContainer {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        align-items: center;
    }
    .playtime-label {
        font-family: 'Cascadia Code', sans-serif;
        font-size: 14px;
        color: #ffffff;
        background-color: #191919;
        padding: 8px 12px;
        border-radius: 10px;
        display: inline-block;
        margin-right: 10px;
    }