@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<div class="main-layout">
    <nav>
        <div class="top-panel">
            <div>
                <button class="top-panel-button" @onclick="NavToGamesPage"><i class="fa-solid fa-skull-crossbones"></i></button>
                <button class="top-panel-button" @onclick="NavToLibraryPage"><i class="fa-solid fa-inbox"></i></button>
                <button class="top-panel-button" @onclick="NavToSettignsPage"><i class="fa-solid fa-gears"></i></button>
            </div>
        </div>
    </nav>
    <main>
        @Body
    </main>
</div>
@code
{
    void NavToGamesPage()
    {
        NavigationManager.NavigateTo("/games");
    }
    void NavToLibraryPage()
    {
        NavigationManager.NavigateTo("/");
    }

    void NavToSettignsPage()
    {
        NavigationManager.NavigateTo("/settings");
    }
}

<style>
    
    @@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
    html, body {
        font-family: "JetBrains Mono", monospace;
        user-select: none;
        background-color: #191724;
        color: white;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin: 0;
        padding: 0;
    }
    
    .top-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #1f1d2e;
        border-bottom: 1px solid #323232;
    }

    .top-panel-button {
        border-radius: 20px;
        background-color: #26233a;
        color: #e0def4;
        border-style: solid;
        border-color: #393552;
        border-width: 0.2px;
        padding: 8px 20px;
        height: 35px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s, transform 0.3s;
    }
    .top-panel-button:hover{
        background-color: #1f1d2e;
        transform: scale(1.05);
        cursor: pointer;
    }
    .top-panel-button:active{
        transform: scale(0.97);
    }

</style>