@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<div class="main-layout">
    <nav>
        <div class="top-panel">
            <div>
                <button class="top-panel-button" @onclick="NavToGamesPage"><i class="fa fa-magnifying-glass"></i></button>
                <button class="top-panel-button" @onclick="NavToLibraryPage"><i class="fa fa-house"></i></button>
                <button class="top-panel-button" @onclick="NavToSettignsPage"><i class="fa fa-gear"></i></button>
            </div>
        </div>
    </nav>
    <main>
        @Body
    </main>
</div>
@code
{
    void NavToGamesPage()
    {
        NavigationManager.NavigateTo("/games");
    }
    void NavToLibraryPage()
    {
        NavigationManager.NavigateTo("/");
    }

    void NavToSettignsPage()
    {
        NavigationManager.NavigateTo("/settings");
    }
}
<style>
    html, body {
        font-family: 'Roboto', sans-serif;
        user-select: none;
        background-color: #1b1b1b;
        color: white;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin: 0;
        padding: 0;
    }
    
    .top-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #151515;
        border-bottom: 1px solid #323232;
    }

    .top-panel-button {
        background-color: #131313;
        color: #fff;
        height: 45px;
        border-radius: 10px;
        border-style: solid;
        border-color: #323232;
        border-width: 0.2px;
        padding: 8px 20px;
        height: 35px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s, transform 0.3s;
    }
    .top-panel-button:hover{
        background-color: #555;
        transform: scale(1.05);
        cursor: pointer;
    }
    .top-panel-button:active{
        transform: scale(0.97);
    }

</style>