@using Dionysus.App.Data
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<div class="main-layout">
    <nav>
        <div class="top-panel">
            <div>
                <button class="top-panel-button " @onclick="NavToGamesPage"><i class="fa-solid fa-skull-crossbones"></i></button>
            </div>
            <div class="right-side">
                <button class="top-panel-button user fa-solid fa-user" @onclick="NavToLibraryPage"></button>
                <button class="top-panel-button user fa-solid fa-gear" style="margin-left: 10px" @onclick="NavToSettignsPage"></button>
            </div>   
        </div>
    </nav>
    <main>
        @Body
    </main>
</div>
@code
{

    void NavToGamesPage()
    {
        NavigationManager.NavigateTo("/games");
    }
    void NavToLibraryPage()
    {
        NavigationManager.NavigateTo("/");
    }

    void NavToSettignsPage()
    {
        NavigationManager.NavigateTo("/settings");
    }
}

<style>
    
    @@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
    html, body {
        font-family: "JetBrains Mono", monospace;
        user-select: none;
        background-color: #0d1117;
        color: white;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin: 0;
        padding: 0;
    }
    
    .top-panel {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #161b22;
        border-bottom: 1px solid #323232;
    }

    .top-panel-button {
        border-radius: 20px;
        background-color: #161b22;
        color:  #c6cdd5;
        border-style: solid;
        margin-left: 25px;
        border-color: #323232;
        border-width: 0.2px;
        padding: 8px 20px;
        height: 35px;
        font-size: 16px;
        width: 60px;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, transform 0.3s;
    }
    .top-panel-button:hover{
        background-color: #0d1117;
        transform: scale(1.03);
        cursor: pointer;
    }
    .top-panel-button:active{
        transform: scale(0.97);
    }

    .top-panel-button.user{
        width: 35px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .right-side{
        margin: 0;
        right: 0px;
        padding: 35px;
        position: absolute;
        display: flex;
        align-items: center;
    }
    
    .greeting{
        font-family: "JetBrains Mono", monospace;
        font-weight: bold;
        color:  #74797d;
        font-size: 14px;
    }

</style>