@using Dionysus.App.Data
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<base href="@($"{AppDomain.CurrentDomain.BaseDirectory.Replace("\\", "/")}")" />
<link href="pagesCSS/@SettingsPage._appTheme/ColorPalette.css" rel="stylesheet" />
<link href="pagesCSS/Dionysus/SettingsPage.css" rel="stylesheet" />
<link href="pagesCSS/Dionysus/MainPage.css" rel="stylesheet" />
<link href="pagesCSS/Dionysus/GamesPage.css" rel="stylesheet" />
<link href="pagesCSS/Dionysus/Header.css" rel="stylesheet" />


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<div class="main-layout">
    <nav>
        <div class="header_top-panel">
            <div>
                <button class="header_top-panel-button " @onclick="NavToGamesPage"><i class="fa-solid fa-skull-crossbones"></i></button>
            </div>
            <div class="header_right-side">
                <button class="header_top-panel-button user fa-solid fa-user" @onclick="NavToLibraryPage"></button>
                <button class="header_top-panel-button user fa-solid fa-gear" style="margin-left: 10px" @onclick="NavToSettignsPage"></button>
            </div>   
        </div>
    </nav>
    <main>
        @Body
    </main>
</div>
@code
{

    void NavToGamesPage()
    {
        NavigationManager.NavigateTo("/games");
    }
    void NavToLibraryPage()
    {
        NavigationManager.NavigateTo("/");
    }

    void NavToSettignsPage()
    {
        NavigationManager.NavigateTo("/settings");
    }
}